In [96]:
import pandas as pd
df = pd.read_csv('processed.cleveland.data', header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

In [97]:
headers = {0 : "age",
               1 : "sex",
               2 : "cp",
               3 : "trestbps",
               4 : "chol",
               5 : "fbs",
               6 : "restecg",
               7 : "thalach",
               8 : "exang",
               9 : "oldpeak",
               10 : "slope",
               11 : "ca",
               12 : "thal",
               13 : "Diagnosis"}

df = df.rename(columns=headers)
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,Diagnosis
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,?,3.0,0

In [98]:
df = df[~df.isin(['?', '-9'])]
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,Diagnosis
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1
302,38.0,1.0,3.0,138.0,175.0,0.0,0.0,173.0,0.0,0.0,1.0,NaN,3.0,0

In [99]:
df2=df.dropna()
df2

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,Diagnosis
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,57.0,0.0,4.0,140.0,241.0,0.0,0.0,123.0,1.0,0.2,2.0,0.0,7.0,1
298,45.0,1.0,1.0,110.0,264.0,0.0,0.0,132.0,0.0,1.2,2.0,0.0,7.0,1
299,68.0,1.0,4.0,144.0,193.0,1.0,0.0,141.0,0.0,3.4,2.0,2.0,7.0,2
300,57.0,1.0,4.0,130.0,131.0,0.0,0.0,115.0,1.0,1.2,2.0,1.0,7.0,3
301,57.0,0.0,2.0,130.0,236.0,0.0,2.0,174.0,0.0,0.0,2.0,1.0,3.0,1

In [102]:
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline

skf = StratifiedKFold(n_splits=5)
target = df2.loc[:,'Diagnosis']
X=df2
y =target
cnt = 1
ss = StandardScaler()
dt = tree.DecisionTreeClassifier()

pipe = Pipeline(steps=[('std_slc', ss),
                          ('dec_tree', dt)])


print("Creating Parameter Grid...")
criterion = ['gini', 'entropy']
max_depth = [760]
param_grid = dict(dec_tree__criterion=criterion,
                     dec_tree__max_depth=max_depth)
giniscore = 0
entropyscore = 0
print("Creating a grid search cross validator object...")

for train_index, test_index in skf.split(X, y):
    print(f'Fold:{cnt}, Train set: {len(train_index)}, Test set:{len(test_index)}')
    x_train_fold, x_test_fold = X.iloc[train_index], X.iloc[test_index]
    y_train_fold, y_test_fold = y.iloc[train_index], y.iloc[test_index]
    search = GridSearchCV(pipe,param_grid)

    search = search.fit(x_train_fold, y_train_fold)
    df3 = pd.DataFrame(search.cv_results_)
    df3.to_csv("tada.csv")
    giniscore=giniscore +df3.loc[df3['param_dec_tree__criterion'] == 'gini', 'mean_test_score']
    entropyscore=entropyscore+df3.loc[df3['param_dec_tree__criterion'] == 'entropy', 'mean_test_score']
    for index, row in df3.iterrows():
        
        print("KFold ", cnt ,  ": ",row["params"], ", Mean Test Accuracy =",row["mean_test_score"],", Mean StdDev=",row["std_test_score"])
   
    print("Best parameter (CV score=%0.3f):" % search.best_score_)
    print(search.best_params_)

    pipe2 = Pipeline([('scaler', StandardScaler()), ('bestmodel', search.best_estimator_)])
    pipe2.fit(x_train_fold, y_train_fold)

    best_accuracy = pipe2.score(x_test_fold, y_test_fold)
    print("Accuracy of decision tree  with heart disease dataset : %0.3f" % best_accuracy)

    cnt+=1
giniscore = giniscore/5
entropyscore = entropyscore/5
print("overall gini accuracy:%0.3f" % giniscore)  
print("overall entropy accuracy:%0.3f" % entropyscore)

Creating Parameter Grid...
Creating a grid search cross validator object...
Fold:1, Train set: 237, Test set:60
KFold  1 :  {'dec_tree__criterion': 'gini', 'dec_tree__max_depth': 760} , Mean Test Accuracy = 1.0 , Mean StdDev= 0.0
KFold  1 :  {'dec_tree__criterion': 'entropy', 'dec_tree__max_depth': 760} , Mean Test Accuracy = 1.0 , Mean StdDev= 0.0
Best parameter (CV score=1.000):
{'dec_tree__criterion': 'gini', 'dec_tree__max_depth': 760}
Accuracy of decision tree  with heart disease dataset : 1.000
Fold:2, Train set: 237, Test set:60
KFold  2 :  {'dec_tree__criterion': 'gini', 'dec_tree__max_depth': 760} , Mean Test Accuracy = 1.0 , Mean StdDev= 0.0
KFold  2 :  {'dec_tree__criterion': 'entropy', 'dec_tree__max_depth': 760} , Mean Test Accuracy = 1.0 , Mean StdDev= 0.0
Best parameter (CV score=1.000):
{'dec_tree__criterion': 'gini', 'dec_tree__max_depth': 760}
Accuracy of decision tree  with heart disease dataset : 1.000
Fold:3, Train set: 238, Test set:59
KFold  3 :  {'dec_tree__criterion': 'gini', 'dec_tree__max_depth': 760} , Mean Test Accuracy = 1.0 , Mean StdDev= 0.0
KFold  3 :  {'dec_tree__criterion': 'entropy', 'dec_tree__max_depth': 760} , Mean Test Accuracy = 1.0 , Mean StdDev= 0.0
Best parameter (CV score=1.000):
{'dec_tree__criterion': 'gini', 'dec_tree__max_depth': 760}
Accuracy of decision tree  with heart disease dataset : 1.000
Fold:4, Train set: 238, Test set:59
KFold  4 :  {'dec_tree__criterion': 'gini', 'dec_tree__max_depth': 760} , Mean Test Accuracy = 1.0 , Mean StdDev= 0.0
KFold  4 :  {'dec_tree__criterion': 'entropy', 'dec_tree__max_depth': 760} , Mean Test Accuracy = 1.0 , Mean StdDev= 0.0
Best parameter (CV score=1.000):
{'dec_tree__criterion': 'gini', 'dec_tree__max_depth': 760}
Accuracy of decision tree  with heart disease dataset : 1.000
Fold:5, Train set: 238, Test set:59
KFold  5 :  {'dec_tree__criterion': 'gini', 'dec_tree__max_depth': 760} , Mean Test Accuracy = 1.0 , Mean StdDev= 0.0
KFold  5 :  {'dec_tree__criterion': 'entropy', 'dec_tree__max_depth': 760} , Mean Test Accuracy = 1.0 , Mean StdDev= 0.0
Best parameter (CV score=1.000):
{'dec_tree__criterion': 'gini', 'dec_tree__max_depth': 760}
Accuracy of decision tree  with heart disease dataset : 1.000
overall gini accuracy:1.000
overall entropy accuracy:1.000